*{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav {
	text-align: center;
}
nav ul li img{
	padding-top: 10px;
	padding-right: 5px;
}
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
    width: 100%;
	background: #901721;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: right;
	position: relative;
	font-weight: bold;
}

nav ul li:hover a {
	color: black;
}

nav ul li a {
	display: block;
	padding: 15px 32px;
	color:white;
	text-decoration: none;
}

nav ul ul {
	background:#901721;
	border-radius: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
}
nav ul ul li {
	float: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #112f44;
}
		
nav ul ul ul {
	position: absolute;
	right: 100%;
	top:0;
}
/*-------------- Start Left nav ----------------*/
.left-nav{
    font-size: 20px;
    float: left;
}
.left-nav a{
       color: white;
}
.left-nav a:hover{
    color: black;
}
.left-nav a{
    margin:10px;
}
.left-nav span{
	font-size: 16px;
    padding-top: 16px;
}
/*----------End Left nav  -----------*/
/*----------Start Seo-Form-----------*/
.Seo-form{
	width: 70%;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color:#f2f2f2;
	margin: 0px auto;
	text-align: center;
}
.Seo-form input[type=text]{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	width: 300px;
	height: 70px;
	border: none;
	border-radius: 15px;
	margin-bottom: 10px;
}
.Seo-form input[type=text]:focus{
	border: none;
	outline: none;
	width: 310px;
}
.Seo-form textarea{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	width: 300px;
	height: 130px;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
}
.Seo-form textarea:focus{
	border: none;
	outline: none;
	width: 310px;
}
.Seo-form input[type=text]::placeholder{
	text-align: center;
}
.Seo-form textarea::placeholder{
	text-align: center;
}
.Seo-form Button{
	color: white;
	width: 100px;
	height: 50px;
	background-color: #901721;
}
.Seo-form Button:hover{
	background-color: tomato;
}
/*---------- End Seo-Form-----------*/